body{
	background-color: #FFF;
	color: #000;
}
h1{
	text-align: center;
	color: #F00;
}
input{
	width: 150px;
	height: 50px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background-color: #F00;
	color: #FFF;
	border: 0px solid;
	display: block;
	margin: 1%;
}
header, footer{
	background-color: #040B4F;
	padding-top: 7%;
	padding-bottom: 7%;
}